*
!non-multistage-build
!subcellular_experiment
subcellular_experiment/__pycache__
!.dockerignore
!.pylintrc
!python-version
!entrypoint.sh
!pyproject.toml
!setup.py
!tox.ini
!build
!main.py
!requirements.txt
